<!DOCTYPE html>
<html>
<head>
  <title>Tickets</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Tickets</h1>
    <div class="row">
      {% for ticket in tickets %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ ticket.id }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ ticket.description }}</h1>
            <a href="/ticket/{{ ticket.id }}" class="btn btn-lg btn-block btn-outline-primary">View Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- Include Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
